@font-face {
  font-family: 'Playfair Display Regular', sans-serif;
  src: url('PlayfairDisplay-Regular.eot');
  src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('PlayfairDisplay-Regular.woff') format('woff'),
  url('PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Playfair Display Italic', sans-serif;
  src: url('PlayfairDisplay-Italic.eot');
  src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
  url('PlayfairDisplay-Italic.woff') format('woff'),
  url('PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }